@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --card: 240 3% 94%;
  --card-foreground: 222.2 47.4% 11.2%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 9.8%;
    --foreground: 213 31% 91%;

    --border: 0 0% 14.51%;
    --input: 0 0% 14.51%;

    --card: 0 0% 14.51%;
    --card-foreground: 213 31% 91%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

.binaryHeap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

.rootNode {
  color: #4fbff2;
}

.nodeContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.node {
  color: #46ef46;
}

.leafNode {
  color: #7a7878;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
